.tableContainer{
    width: 100%;
    overflow-y: auto;
}
.table{
    width: 100%;
    border-collapse: collapse;    
}
.table__rowHead{    
    th{
        position: sticky;
        top: 0;       
        background: #C4C4C4;                            
        box-sizing: border-box;
        color: white;
        font-weight: bold;  
        padding: 10px;      
    }

}
.table__body {     
  
    td{          
        text-align: center;       
        font-weight:lighter;    
        padding: 10px;    
        text-align: center;
    }
    tr{     
        width: 100%;
    }      
}

.themeWhite{     
    tr{        
        border-bottom: 1px solid #858585;  
        background:white;
    }   
}

.themeZebra{
    tr:nth-child(odd){
        background: #F1F1F1;
    }    
    tr:nth-child(even){
        background: #FFFFFF;        
    }
}

.tableContainer::-webkit-scrollbar-thumb{
    background: rgb(7, 7, 7);
    border-radius: 20px;
    height: 200px;
}
.tableContainer::-webkit-scrollbar{
    width:5px;
    height: 5px;
    -webkit-appearance: none;
    background: #acacac;
}


/*componets buttons*/

.buttonContainer{ 
    width: 200px;
    height: 50px;
    background: crimson;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.buttonContainer__icon{
    width: 50px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonContainer__img{
    width: 100%;
}
.buttonContainer__text{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.prueba{
    width: 400px;
}


/*search*/


.search {
    width: 500px;
    height: 50px;   
    display: flex;
}

.search__input{
    border: 0.5px solid black;
    flex-grow: 1;    
    outline: none;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.search__box{
    border: 0.5px solid black;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#42B3F2;
    border-radius: 5px;
}

.search__img{
    width: 30px;
}