.tableContainer{
    width: 100%;
    overflow-y: auto;
}
.table{
    width: 100%;
    border-collapse: collapse;    
}
.table__rowHead{    
    th{
        position: sticky;
        top: 0;       
        background: #C4C4C4;                            
        box-sizing: border-box;
        color: white;
        font-weight: bold;  
        padding: 10px;      
    }

}
.table__body {     
  
    td{          
        text-align: center;       
        font-weight:lighter;    
        padding: 10px;    
        text-align: center;
    }
    tr{     
        width: 100%;
    }      
}

.themeWhite{     
    tr{        
        border-bottom: 1px solid #c5c3c3;  
        background:white;
    }   
}

.themeZebra{
    tr:nth-child(odd){
        background: #F1F1F1;
    }    
    tr:nth-child(even){
        background: #FFFFFF;        
    }
}

.tableContainer::-webkit-scrollbar-thumb{
    background: rgb(7, 7, 7);
    border-radius: 20px;
    height: 200px;
}
.tableContainer::-webkit-scrollbar{
    width:5px;
    height: 5px;
    -webkit-appearance: none;
    background: #acacac;
}


/*componets buttons*/

.buttonContainer{         
    height: 40px;     
    display: flex;    
    flex-direction: row;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.defaultColor{
    background: cadetblue;
}
.buttonContainer__icon{
    width: 30px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonContainer__img{
    width: 100%;
}
.buttonContainer__text{
    margin-left: 10px;
    flex-grow: 1;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.buttonContainer:hover{
    background:rgb(66, 66, 66)  !important;
}
/*search*/


.search {
    width: 100%;    
    height: 40px;   
    display: flex;
}

.search__input{
    border: 0.5px solid #929292;   
    outline: none;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    flex-grow: 2;
    box-sizing: border-box;
}

.search__box{
    border: 0.5px solid #929292;      
    max-width: 45px;  
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#42B3F2;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.search__input:focus-visible{
    border: 0.5px solid #3c95e9;  
}
.search__img{
    width: 30px;
}

/*modal*/

.modal {
    background: rgb(91, 91, 91,60%);
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modal__card {
    background: white;
    width: auto;
    min-width: 30%;
    min-height: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal__header{    
    // border-bottom: 1px solid #646464;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    padding-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.modal__icon{
   font-size:30px;
//    font-weight:  bold; 
   color: #646464;
   width: 35px;
   text-align: center;
   border-radius: 100px;  
}

.modal__icon:hover{
    background: #ececec;
}

.modal__section{  
    padding: 10px;
    flex-grow: 1;
}
/*input*/

$inputStyle : 1px solid rgb(161, 158, 158);

.inputContainer__box{
    padding: 10px;
    outline: none;
    border: none;    
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
}

.borderAll {
    border: $inputStyle;
}

.borderOne {
    border-top: 3px solid #4aa6e4;
    border-left: $inputStyle;
    border-bottom: $inputStyle;
    border-right: $inputStyle;
}

/*notificaciones*/


.notify{
  background:  rgb(3, 119, 38);  
  width: 100%;
  height: 50px; 
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 50px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
  display: none;
}



@media (max-width: 900px) { 
   .modal__card{
        width: 90%;        
   }
   
}
