@mixin display ($justify,$align,$direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;   
    // flex-wrap: wrap;
}
@mixin textDecorate ($size) {
    color: white;
    font-weight: bold;
    font-size: $size;
} 

.page{ 
    width: 100%;
    height: 100vh;       
    background: #ECF0F5;
    @include display(none,none ,column );
    box-sizing: border-box;
}
.page__header{
    @include display(none,none,row);
}
.page__option{
    flex-grow: 1;
}
.page__title{
    background: #081218;
    font-weight: bold;
    font-size: 20px;  
    color: #B9FFFF;    
    padding: 15px;
    @include display(center,center,row)
}
.post{    
    box-sizing: border-box; 
    flex-grow: 1;      
    @include display(none,none ,column );
}
.post__menu{        
    flex-wrap: wrap;
    padding: 20px;
    @include display(none,none ,row);
}
.post__user-info{  
    flex-grow: 3;        
    @include display(flex-end,none,row);
}
.post__user--width{   
    width: 300px;     
}
.post__menu-buttons{
    flex-grow: 1;
    flex-wrap: wrap;
    @include display(space-around,none ,row);
}
.post__cardVenta{     
    border-top: 5px solid #A52800; 
    flex-grow: 1;             
    background: white;
    @include display(flex-end,none ,column );
}
.post__tabla{
    background: #A52800;
    flex-grow: 1;
}
.post__cardVenta-pie{    
    text-align: right;
    background: #848484;
    padding: 15px;
    box-sizing: border-box;       
}
.post__cardVenta-total {
    @include textDecorate(25px) 
}
.post__cardVenta-cantidad{
    @include textDecorate(40px)
}
.post__cardVenta-search{    
    padding: 20px;
    height: 40px;   
    @include display(none,none,row);
}
.post__cardVenta-button{    
    padding: 10px;
    overflow-x: auto;    
    @include display(none,none ,row-reverse);
    div{
        margin-left: 10px;
    }
}
.post__cardVenta-button::-webkit-scrollbar{
    display: none ;
}
.post_box{      
    @include display(center,center,row );
}

@media (max-width: 900px) { 
    .post__menu{
        flex-direction: column-reverse;        
    }
    .post__user-info{
        margin-bottom: 15px;
    }    
    .page__title{
      display: none;     
    }
}

.margin-right{
    margin-right: 10px;
}
