.buttonAction{
    border: 4px solid #42B3F2;
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    cursor: pointer; 
    background: white;
}
.buttonAction:hover{
    border: 4px solid #1179b1;
}
.butonAction__img{
    width: 100%;
}

.buttonAction__box{
    width: 40px;
}
.buttonAction__name{        
    font-weight: bold;
    font-size: 13px;
}