.ejemplo-container{
    width: 100%;
    height: 100%;
    background: cadetblue;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    input {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
    }
}


.productos__enviar{
    padding: 10px;
    box-sizing: border-box;
    button{
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        outline: none;
        border: none;
        color: white;
        background: rgb(65, 159, 214);
        font-size: 18px;
        cursor: pointer;
    }       

    button:hover{
        background: #1f4db1;
    }
}

.list-producto {
    margin-left: 20px;
    margin-top: 10px;
    width: 40%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.principal {
    padding: 20px;
    background: brown;

    input{
        padding: 10px;
    }
    button {
        padding: 10px;
        background: cadetblue;
    }
}

.categoria 
{
    margin: 10px;
    background: cadetblue;
    width: 10%;
    padding: 10px;
    border: 1px solid black;
}
.padre
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.iconos
{
    margin: 10px;
    width: 150px;
    height: 90px;
    box-sizing: border-box;
    text-align: center;
    color: blanchedalmond;
    font-size:large;
}
#corte
{
    background-color:#069b56;
}
#factura
{
    background-color:#da4c3b;
}
#devoluciones
{
    background-color: #5d589d;
}
#stock_Aler
{
    background-color: #e19215;
}
.imagenes
{
    float:right;
    position: sticky;
    top: 75px;
}
.foot
{
    position: sticky;
    top: 880px;
    background-color: red;
    width:auto;
    height: 20px;
    opacity: 0.2;
}
.calculadora
{
    float:right;
    width: 50px;
    height: 50px;
}
