.ejemplo-container{
    width: 100%;
    height: 100%;
    background: cadetblue;
}

.titulo-registro{
    padding: 25px 0px 20px 10px; //top right bottom left
    label{
        font-size: 20px;
        font-weight: bold;
    }
}

.cuestionario-design {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    label{
        margin-top: 10px;
    }
    input {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
    }
}

.botones{
    padding: 16px;
    box-sizing: border-box;
    
    button{
        width: 50%;
        padding: 15px;
        border-radius: 10px;
        outline: none;
        border: none;
        color: white;
        background: rgb(65, 159, 214);
        font-size: 18px;
        cursor: pointer;
        margin: 0 auto;
        display:block;
        
    }       

    button:hover{
        background: #1f4db1;
    }
}

.list-producto {
    margin-left: 20px;
    margin-top: 10px;
    width: 40%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}